#display {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
  height: 55px;
}

#calculator a {
  display: inline-block;
  width: 24%;
  margin-bottom: 10px;
  height: 100px;
}

#calculator div {
  width: 500px;
}

#events {
  margin-top: 20px;
  text-align: left;
}

#events li {
  list-style: none;
  margin-bottom: 10px;
}

#events li button {
  margin-left: 10px;
}